name: {{projectname.snakeCase()}}

description: Arsync Solutions Flutter Project

publish_to: "none"

version: 0.0.1+1

environment:
  sdk: ">=3.9.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8
  hooks_riverpod: ^2.6.1
  shared_preferences: ^2.5.3
  flutter_hooks: ^0.21.2
  intl: ^0.20.2
  url_launcher: ^6.3.1
  loading_overlay_pro: ^2.1.1
  cached_network_image: ^3.4.1
  path: ^1.9.1
  path_provider: ^2.1.5
  go_router: ^15.1.2
  freezed_annotation: ^3.0.0
  json_annotation: ^4.9.0
  arsync_exception_toolkit: ^0.0.9
  cross_file: ^0.3.4+2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.14.3
  flutter_native_splash: ^2.4.6
  custom_lint: ^0.7.5
  riverpod_lint: ^2.6.5
  build_runner: ^2.4.15
  freezed: ^3.0.6
  json_serializable: ^6.9.5


flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/images/icon.png"
  adaptive_icon_background: "assets/images/background.png"
  adaptive_icon_foreground: "assets/images/foreground.png"
  remove_alpha_ios: true


### Uncomment this line to define a generate native splash screen

# flutter_native_splash:
#   color: "ffffff"
#   color_dark: "F6F8FB"
#   image: assets/images/splash.png
#   android: true
#   ios: true
#   ios_content_mode: scaleAspectFill
#   fullscreen: true # This makes the splash screen fullscreen on Android
#   android_gravity: fill # This ensures the image fills the screen

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/images/
    - assets/fonts/


formatter:  
  page_width: 100
  line_length: 100


{{#hasCustomFont}}
  fonts:
    - family: {{{fontname}}}
      fonts:
        - asset: assets/fonts/{{{fontname.titleCase()}}}-ExtraLight.ttf
          weight: 100
        - asset: assets/fonts/{{{fontname.titleCase()}}}-Thin.ttf
          weight: 200
        - asset: assets/fonts/{{{fontname.titleCase()}}}-Light.ttf
          weight: 300
        - asset: assets/fonts/{{{fontname.titleCase()}}}-Regular.ttf
          weight: 400
        - asset: assets/fonts/{{{fontname.titleCase()}}}-Medium.ttf
          weight: 500
        - asset: assets/fonts/{{{fontname.titleCase()}}}-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/{{{fontname.titleCase()}}}-Bold.ttf
          weight: 700
        - asset: assets/fonts/{{{fontname.titleCase()}}}-ExtraBold.ttf
          weight: 800
        - asset: assets/fonts/{{{fontname.titleCase()}}}-Black.ttf
          weight: 900
{{/hasCustomFont}}